h1, h2, h3, h4, a, p, cite {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
h3, h4, cite {
  font-weight: 300;
  color: #c02702;
}
a, p {
  font-weight: 400;
  font-size: 16px;
}
cite.subtitle {
  font-style: italic;
}
a, a:visited {
  text-decoration: none;
  color: #008899;
}
.container {
  padding: 50px;
}
.header {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.social {
  float: right;
  margin: -25px 0px 0px 0px;
}
.contact {
  float: left;
  text-align: left;
  margin: -25px 0px 0px 5px;
}
[class^="icon-"], [class*=" icon-"] {
  padding: 0px 0px 0px 5px;
}
a:hover, [class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: #c02702;
}